<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="ISO-8859-1">
	<title>API Empleats</title>
</head>
<body>
	<!-- Taula -->
	<table border="1">
		<thead>
			<tr>
				<th>ID</th>
				<th>Nom</th>
				<th>Feina</th>
				<th>Salari</th>
				<th colspan="1"></th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="employee : ${employees}">
				<td th:text="${employee.id}"></td>
				<td th:text="${employee.name}"></td>
				<td th:text="${employee.job}"></td>
				<td th:text="${employee.salary}"></td>
				<td><a th:href="@{/employees/} + ${employee.id}">Editar</a></td>
			</tr>
		</tbody>
	</table>
	
	<!-- Formulari -->
	<form th:action="@{/employees}" method="post">
		<p>
			<label for="name">Nom:</label>
			<input type="text" id="name" name="name" />
			
			<label for="job">Feina:</label>
			<input type="text" id="job" name="job" />
			
			<input type="submit" value="Afegir">
		</p>
	</form>
</body>
</html>