<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script type="text/javascript" th:src="@{/script.js}"></script>
    
	<meta charset="ISO-8859-1">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
	<title>API de REST</title>
</head>
	<body>
		<h1>Empleats</h1>
	
		<!-- Taula -->
		<table>
			<thead>
				<tr>
					<th scope="col">ID</th>
					<th scope="col">Nom</th>
					<th scope="col">Feina</th>
					<th scope="col">Salari</th>
					<th scope="col" colspan="2"></th>
				</tr>
			</thead>
			
			<tbody>
				<tr th:if="${employees.empty}">
					<th scope="row" colspan="5">Cap resultat.</th>
				</tr>
				
				<tr th:each="employee : ${employees}">
					<th scope="row" id="employee-id" th:text="${employee.id}" th:value="${employee.id}"></th>
					<td th:text="${employee.name}"></td>
					<td th:text="${employee.job}"></td>
					<td th:text="${employee.salary}"></td>
					<td><a th:href="@{/employees/} + ${employee.id}">Editar</a></td>
					<td><button class="delete-btn" th:data-id="${employee.id}">Esborrar</button></td>
				</tr>
			</tbody>
		</table>
			
		<p>
			<a href="/employees" role="button">Tots els resultats</a>
		</p>
		
		<!-- Formularis -->
			<form th:id="${form}" th:data-id="${employee?.id}" th:method="post">
				<fieldset>
					<legend th:text="${legend}"></legend>
					
					<p>
						<label for="name">Nom:</label>
						<input type="text" id="name" name="name" th:value="${employee?.name}">
					</p>
					
					<p>
						<label >Feina:</label>
						<select  name="job">
							<option th:each="job : ${T(com.example.domain.EJob).values()}" th:text="${job}"></option>
						</select>
					</p>
					
					<p>
						<input type="submit" th:value="${btn}">
					</p>
				</fieldset>
			 </form>
			 
			 <form th:if="${employee == null}" method="get">
				<fieldset>
					<legend>Filtratge</legend>
					
					<p>
						<label for="job">Feina:</label>
						<select id="job" name="job">
							<option th:each="job : ${T(com.example.domain.EJob).values()}" th:text="${job}"
									th:value="${job}"></option>
						</select>
					</p>
					
					<p>
						<input type="submit" value="Filtrar">
					</p>
				</fieldset>
			</form>
	</body>
</html>